@use 'src/components/common/header/scss/header.scss';
@use 'src/components/common/profileCard/scss/profileCard.scss';
@use 'src/components/common/nav/scss/navigation.scss';
body{
  // padding-left:109px;
  // padding-right:109px;
}
.page-title{
  color: var(--text-primary);
  // font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.75rem;
}