@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter";
}

:root {
  --theme-default:#ffffff;
  --theme-50:#f9fafb;
  --theme-100:#f3f4f6;
  --theme-200:#e5e7eb;
  --theme-300:#d1d5db;
  --theme-400:#9ca3af;
  --theme-500:#6b7280;
  --theme-600:#4b5563;
  --theme-700:#374151;
  --theme-800:#1f2937;
  --theme-900:#111827;
  --theme-950:#030712;
  --theme-emrald:#10b981;
}

[data-theme="light"] {
  --theme-default:#ffffff;
  --theme-50:#f9fafb;
  --theme-100:#f3f4f6;
  --theme-200:#e5e7eb;
  --theme-300:#d1d5db;
  --theme-400:#9ca3af;
  --theme-500:#6b7280;
  --theme-600:#4b5563;
  --theme-700:#374151;
  --theme-800:#1f2937;
  --theme-900:#111827;
  --theme-950:#030712;

}
[data-theme="dark"] {
  --theme-default: #030712;
  --theme-50: #111827;
  --theme-100: #1f2937;
  --theme-200: #374151;
  --theme-300: #4b5563;
  --theme-400: #6b7280;
  --theme-500: #9ca3af;
  --theme-600: #d1d5db;
  --theme-700: #e5e7eb;
  --theme-800: #f3f4f6;
  --theme-900: #f9fafb;
  --theme-950: #ffffff;
}

.shadow-light-2xl{
  box-shadow: 0 25px 25px 0 #00000026;
}
.shadow-light-lg{
  box-shadow: 0 4px 3px 0 #0000001A, 0 10px 8px 0 #0000000A;
}
.shadow-light-md{
  box-shadow: 0 4px 3px 0 #00000012, 0 2px 2px 0 #0000000F;
}

.shadow-dark-2xl{
  box-shadow: 0 25px 25px 0 #FFFFFF26;
}
.shadow-dark-lg{
  box-shadow: 0 4px 3px 0 #FFFFFF1A, 0 10px 8px 0 #FFFFFF0A;
}
.shadow-dark-md{
  box-shadow: 0 4px 3px 0 #FFFFFF12, 0 2px 2px 0 #FFFFFF0F;
}

body *{
  font-family: "Inter";
}
hr{
  height: 1px;
}