.profile-card {
  width: 350px;
  background-color: var(--background-primary-100);
  border: 3px solid var(--border-primary);
  border-radius: 13px;
}
.dev-image {
  margin-top: -63px;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 14px;
  border: 5px solid var(--border-primary);
}
.dev-name{
  font-family: Inter;
  color: var(--info-text);
}

.profession{
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  color: var(--info-text);
}
.contacts{
  min-width: 284px;
  background-color: var(--contact-bg);
  a{
    font-family: Inter;
  }
}
.view-resume{
  background-color: var(--border-primary);
}