.navigation {
  background-color: var(--background-primary-100);
  border: 3px solid var(--border-primary);
  border-radius: 13px;
  width: 126px;
  ul{
    li{
      a{
        background: var(--nav);
        width: 71px;
        height: 66px;
      }
    }
  }
}
