@media (max-width: 1040px) {
  header{
    padding: 16px 40px 16px 40px !important;
  }
}

@media (max-width: 972px) {
  header{
    padding: 16px 20px 16px 20px !important;
  }
}

@media (max-width: 919px) {
  header{
    .logo{
      font-size: 16px;
    }
    nav{
      font-size: 17px;
    }
    button{
      font-size: 13px;
    }
    padding: 16px 10px 16px 10px !important;
  }
}

@media (max-width: 908px) {
  header{
    display: none !important;
  }
}