 .education-item {
  border: 3px solid  var(--border-primary);
  *{
     color: var(--text-primary);
  }
  }

  .experience-item{
     border: 3px solid  var(--border-primary);
     *{
        color: var(--text-primary);
     }
  }